---
layout: ""
page_title: "Provider: Akeyless"
description: |-
  The Akeyless provider provides resources to interact with Akeyless services.
---

# Akeyless Provider

The Akeyless provider provides resources to interact with Akeyless services.

## Example Usage

{{tffile "examples/main.tf"}}

{{ .SchemaMarkdown | trimspace }}